/*天選單*/
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
body {
    font-family: Arial, 微軟正黑體;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	padding-top: 70px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #000;
    background-color: #FFFFFF;
}
.navbar-inverse {
    background-color: #222;
    border-color: #ccc;
}
/*footer large footer的區塊  開始*/
/* line 994, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 995, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 996, ../sass/style.scss */
.clearfix {
  *zoom: 1;
  /*For IE 6&7 only*/
}

/* line 997, ../sass/style.scss */
.rwd-footer {
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background: #efefef;
	padding: 20px 0 0 0;
	position: absolute;
	left:0px;

}

/* line 999, ../sass/style.scss */
.rwd-footer .social_list {
  float: right;
}

/* line 1000, ../sass/style.scss */
.rwd-footer .social_list li {
  padding: 0 10px;
  display: inline-block;
  font-size: 0px;
  text-indent: -100000px;
  overflow: hidden;
  
}

/* line 1001, ../sass/style.scss */
.rwd-footer .social_list li:nth-child(4) {
  display: none;
}

/* line 1002, ../sass/style.scss */
.rwd-footer .social_list li:nth-child(1) a {
  background: url(../svg/facebook_footer_m.svg) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

/* line 1008, ../sass/style.scss */
.rwd-footer .social_list li:nth-child(2) a {
  background: url(../svg/instagram_footer_m.svg) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

/* line 1014, ../sass/style.scss */
.rwd-footer .social_list li:nth-child(3) a {
  background: url(../svg/youtube_footer_m.svg) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

/* line 1020, ../sass/style.scss */
.rwd-footer .social_list li:nth-child(4) a {
  background: url(../svg/line_footer.svg) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

/* line 1026, ../sass/style.scss */
.rwd-footer .social_list li:nth-child(5) a {
  background: url(../svg/contact_footer.svg) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

/* line 1032, ../sass/style.scss */
.rwd-footer .social_list li a {
  display: block;
  width: 40px;
  height: 40px;
}

/* line 1033, ../sass/style.scss */
.rwd-footer .left {
  padding: 0 0 0 20px;
}

/* line 1034, ../sass/style.scss */
.rwd-footer .link_list {
  text-align: left;
  margin: 0 0 10px 0;
}

/* line 1035, ../sass/style.scss */
.rwd-footer .link_list li {
  padding: 0 10px 0 0;
  display: inline-block;
}

/* line 1036, ../sass/style.scss */
.rwd-footer .link_list li:after {
  content: " ";
  display: inline-block;
  height: 10px;
  padding: 0 10px 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 1043, ../sass/style.scss */
.rwd-footer .link_list li:last-child:after {
  border-right: none;
}

/* line 1044, ../sass/style.scss */
.rwd-footer .link_list li a, footer .contact li a {
  color: #000;
  display: inline-block;
}

/* line 1045, ../sass/style.scss */
.rwd-footer .contact {
  text-align: left;
  line-height: 16px;
}

/* line 1046, ../sass/style.scss */
.rwd-footer .contact li {
  display: inline-block;
  padding: 0 5px 0 0;
}

/* line 1047, ../sass/style.scss */
.rwd-footer .contact li i {
  display: inline-block;
  width: 20px;
  height: 18px;
  float: left;
}

/* line 1048, ../sass/style.scss */
.rwd-footer .contact li .icon-phone {
  background: url(../svg/phone.svg) no-repeat left center;
  -webkit-background-size: 22px;
  -moz-background-size: 22px;
  background-size: 22px;
  margin: -1px 0 0;
}

/* line 1055, ../sass/style.scss */
.rwd-footer .contact li .icon-email {
  background: url(../svg/e_mail.svg) no-repeat left center;
  -webkit-background-size: 22px;
  -moz-background-size: 22px;
  background-size: 22px;
  margin: -2px 0 0;
}

/* line 1062, ../sass/style.scss */
.rwd-footer p {
  background: #000;
  line-height: 30px;
  color: #fff;
  margin: 10px 0 0 0;
}

/* line 1066, ../sass/style.scss */
.rwd-footer .link_list .pc-now {
  position: relative;
  margin-left: -14px;
  padding: 0;
}
/* line 1070, ../sass/style.scss */
.rwd-footer .link_list .pc-now:before {
  content: '';
  display: inline-block;
  height: 10px;
  position: absolute;
  margin-left: 0;
  border-left: 1px solid #efefef;
}
/* line 1078, ../sass/style.scss */
.rwd-footer .link_list .pc-now a {
  display: none;
}

/*footer medium*/
@media only screen and (min-width: 600px) and (max-width: 979px) {
  /* line 1088, ../sass/style.scss */
  .rwd-footer .social_list {
    float: none;
    padding: 30px 0 20px 0;
  }

  /* line 1089, ../sass/style.scss */
  .rwd-footer .social_list li:nth-child(4) {
    display: inline-block;
  }

  /* line 1090, ../sass/style.scss */
  .rwd-footer .link_list {
    text-align: center;
    margin: 0 0 20px 0;
  }

  /* line 1091, ../sass/style.scss */
  .rwd-footer .contact {
    margin: 0 0 20px 0;
    text-align: center;
  }

  /* line 1092, ../sass/style.scss */
  .rwd-footer .contact li {
    display: block;
  }
}
/*footer small*/
@media only screen and (max-width: 599px) {
  /* line 1098, ../sass/style.scss */
  .rwd-footer .social_list {
    float: none;
    padding: 30px 0 20px 0;
  }

  /* line 1099, ../sass/style.scss */
  .rwd-footer .social_list li:nth-child(4) {
    display: inline-block;
  }

  /* line 1100, ../sass/style.scss */
  .rwd-footer .link_list {
    text-align: center;
    margin: 0 0 20px 0;
  }

  /* line 1101, ../sass/style.scss */
  .rwd-footer .contact {
    margin: 0 0 20px 0;
    text-align: center;
  }

  /* line 1102, ../sass/style.scss */
  .rwd-footer .contact li {
    display: block;
  }
}
/*footer large footer的區塊  結束*/
/*圖片縮放*/
#fx {
    display: block;
    max-width: 50%;
    height:  auto;
    margin: auto;
}
/*框架*/
@media (min-width: 992px){
.frame{
        margin: 0 400px;
        padding: 0px 0px 15px;
}
}
/*表格*/
.rwd-table {
　background: #fff;
　overflow: hidden;
}
.rwd-table tr:nth-of-type(2n){
　background: #eee;
}
.rwd-table th, 
.rwd-table td {
　margin: 0.5em 1em;
}
.rwd-table {
　min-width: 100%;
}
.rwd-table th {
　display: none;
}
.rwd-table td {
　display: block;
}
.rwd-table td:before {
　content: attr(data-th) " : ";
　font-weight: bold;
　width: 6.5em;
　display: inline-block;
}
.rwd-table th, .rwd-table td {
　text-align: left;
}
.rwd-table th, .rwd-table td:before {
　color: #D20B2A;
　font-weight: bold;
}
@media (min-width: 480px) {
.rwd-table td:before {
　display: none;
}
.rwd-table th, .rwd-table td {
　display: table-cell;
　padding: 0.25em 0.5em;
}
.rwd-table th:first-child, 
.rwd-table td:first-child {
　padding-left: 0;
}
.rwd-table th:last-child, 
.rwd-table td:last-child {
　padding-right: 0;
}
.rwd-table th, 
.rwd-table td {
　padding: 1em !important;
}
}
/*shop 頁面*/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
/*文章過長*/
.over{
    margin: 0px 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	}
/*登入頁面*/	
.form-signin input[type="id"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}